.main {
background: url(https://images.unsplash.com/photo-1484553255294-313b931acd27?auto=format&fit=crop&w=2852&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D) no-repeat center center fixed;
background-size: cover;
height:100vh;
padding-top: 200px;
overflow: hidden;
border: 2px solid gray;
}

.title {
    text-align: center;
    margin-left: 180px;
    font-size: 40px;
    font-family: 'Cormorant Garamond', serif;
    color: #38185B;
    border-bottom: 1px solid brown;
    border-top: 1px solid brown;
    margin-bottom: 20px;

}
.linkTo {
    text-align: center;
    margin-left: 280px;
    padding-bottom: 30px;
    font-size: 30px;
    width:800px;
    color: white;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    text-shadow: 1px 1px 0px black;
    transform: skew(-14deg);
    border-bottom: solid 1px purple;
}
/*
/*.linkTo:hover {
    transform: skew(0deg);
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    /*background-color: rgba(140,140,250, 0.3);*/


.home {
background: url(https://images.unsplash.com/photo-1484553255294-313b931acd27?auto=format&fit=crop&w=2852&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D) no-repeat center center fixed;
background-size: cover;
height: 100vh;
padding-top: 80px;
padding-left: 80px;

}

.box1 {
    height: 250px;
    width: 500px;
    border: 1px solid gray;
    position: fixed;
}

.photo {
    height: 100%;
    width: 100%;
    border: 1px solid gray;
    background: url("./images/DSC01613.jpg")no-repeat center center fixed;
    background-size: cover;
    margin-left: 30px;
    margin-top:  30px;
}
