.header {
    background: url(https://images.unsplash.com/photo-1470290565452-494169ca14be?auto=format&fit=crop&w=1650&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D) no-repeat;
    background-size: cover;
    background-position: 0% 5%;
    height:380px;
    width: auto;
    border-top: 1px solid gray;
}

.name {
    height: 280px;
    padding-top: 20px;
    font-size: 3em;
    margin-left: 110px;
    font-family: 'Bad Script', cursive;
    color: #F9F8F6;

}

@media (max-width: 599px) {
  .name  {
      margin-left: 10px;
      padding-top: 0px;
      font-size: 2em;

  }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
  .name {
      margin-left: 30px;
      padding-top: 30px;
      font-size: 2em;
   }

}

.icons {
    color: #FFB229;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    background-color: #F9F6E8;
    border-bottom: 1px solid gray;
}

.dev {
    color: #443720;
    font-size: 30px;
}

.icons:hover {
    color:blue;
    transition-property: all;
	transition-duration: 1s;
}

span {
    padding-right: 30px;
    padding-top: 10px;
    font-size: 26px;
    font-family: 'Amatic SC', cursive;

}

.parent {
    height: 800px;
    background-color: #F9F8F6;

    /*border-top: 1px solid gray;*/
}

.about {
    height: 350px;
    width: 100%;
    background-color: #F7FDF9;
    margin-top: 25px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
    color: #443720;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;

}
p {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #443720;
}
.description{
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #443720;
    font-size: 18px;
    line-height: 1.8;
}

.titleProjects {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
    color: #443720;
}

.projectDiv {
    height: 320px;
    width: 100%;
    margin-right: 30px;
    background-color: #E7EDE9;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding-top: 30px;
}

.fairyland {
    height: 300px;
    width: 47%;
    background-color: #F7FDF9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}
.imageDiv {
    height:65%;
    width:70%;
    padding-top: 30px;
}

@media (min-width: 1300px) {
  .imageDiv {
      height:220px;
      width:340px;
      padding-top: 30px;
   }
  .projectTitleDiv {
      margin-top: 100px;
      margin-left: 30px;
  }
  .about {
      padding: 60px;
  }
}

.fairylandImage{
    height:100%;
    width:100%;
}
.fairylandImage2{
    height:100%;
    width:100%;
    border-radius: 15px;

}


.recipeBox {
    height: 300px;
    width: 47%;
    background-color: #F7FDF9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}
.recipeBoxImage {
    height:100%;
    width:100%;
}
.projectTitle {
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
    color: #443720;
    border-bottom: 1px solid gray;
    padding: 3px;
    margin-top: 10px;
    text-decoration: none;
}
.projectTitle:hover {
    color: blue;
}

@media (max-width: 599px) {
  .recipeBox {
     width: 100%;
     margin: 10px;
  }
  .fairyland {
      width: 100%;
      margin: 10px;
  }
  .projectDiv {
      height: 680px;
  }
  .parent {
      height: 1150px;
  }
  span {
      padding-right: 5px;
  }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
  .name {
      margin-left: 30px;
      padding-top: 30px;
      font-size: 2em;
   }

}


.Div1 {
    height: 350px;
    width: 100%;
    background-color: #F7FDF9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 0px;
}
.Div2 {
    height: 200px;
    width: 100%;
    background-color: #E7EDE9;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
}
.midDiv {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.titleView {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
    color: #443720;
    margin-top: 0px;
}
.fairylandViewImage {
    height: 290px;
    width: 35%;
    margin: 20px;
    border-radius: 15px;
}
.fairylandViewImageShow {
    height: 290px;
    width: 35%;
    margin: 20px;
    border-radius: 15px;
}
@media (max-width: 599px) {
  .fairylandViewImageShow  {
     width: 100%;
     margin: 10px;
  }
  .fairylandViewImage  {
    display: none;
  }
  .Div2 {
      height: 300px;
  }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
    .fairylandViewImageShow  {
      display: none
    }
    .fairylandViewImage  {
     width: 100%;
     height: 100%;
     margin:10px;
    }
}


.fairylandImage {
    width: 100%;
    height: 100%;
}
.bottomDiv {
    height: 60px;
    width: 100%;
    text-align: center;
    margin-left: 30px;
    padding-top: 10px;
    color: #443720;
}

.footer {
    background: url("https://images.unsplash.com/photo-1470290565452-494169ca14be?auto=format&fit=crop&w=1650&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") no-repeat;
    background-size: cover;
    height: 120px;
    width:100%;
    background-position: 0% 98%;
    align-self: flex-end;
    border-top: 1px solid gray;
}
.infoDiv {
    color: #FFB229;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    background-color: #F9F6E8;
}
.resume {
    font-size: 26px;
    border: 1px solid #FFB229;
    height: 30px;
    margin-top: 10px;
    padding: 5px;
    margin-right: 20px;
    color: #443720;
}
.appLink {
    font-size: 26px;
    border: 1px solid #443720;
    height: 30px;
    margin-top: 10px;
    padding: 5px;
    margin-right: 20px;
    color: #FFB229;
}
.appLink:hover {
    color:blue;
}

.resumeLink {
    text-decoration: none;
    margin-top: 12px;
    margin-bottom: 10px;
}
.homeLink {
    text-decoration: none;
    margin-top: 12px;
    color: #FFB229;
}
.resume:hover {
    color:blue;
}
.homeLink:hover {
    color:blue;
}

.link {
    text-decoration: none;
}
