.styleImg {
    height: 300px;
    width: 300px;

}

.card {

    border: 1px solid black;
    display: inline-block;
    margin: 20px;
    text-align: center;

}
.parent {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
