
.header {
  background: url(https://images.unsplash.com/photo-1493246507139-91e8fad9978e?dpr=1&auto=compress,format&fit=crop&w=1350&h=&q=80&cs=tinysrgb&crop=)
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  text-align: center;
  color: rebeccapurple;
  font-size: 30px;
}

body {
    background-color: #FEF6E3;
    text-align: center;

}

.div1 {
    height: auto;
    width: auto;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
