
* {
    box-sizing: border-box;
    font-size: 0px;
}

.parent {
    background: white;
    height: 600px;
    width: 900px;
    position: relative;
    display: inline-block;
	border: 2px solid lightblue;
}

.circle {
    background: #b30000;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

