table{
	font-family: arial, sans-serif;
	border: collapse;
	width:100%;
	
}

td, th {
	border: 1px solid darkgreen;
	text-align: left;
	padding: 30px;
	background-color: antiquewhite;

}

tr:nth-child(even){
	background-color: lightcyan;
}

